In [1]:
import numpy as np
import pandas as pd
import urllib.request
from datetime import date, timedelta
import glob
import warnings
warnings.filterwarnings('ignore')

In [2]:
# download all jhu data
sdate = date(2020, 1, 22)   # start date
edate = date.today()   # end date
delta = edate - sdate
df_arr = []
for i in range(delta.days + 1):
    day = sdate + timedelta(days=i)
    day = day.strftime('%m-%d-%Y')
    print(day)
    url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/' + \
        'csse_covid_19_daily_reports/{:s}.csv'.format(day)
    fname = '../input/jhu/covid-19_daily_{:s}.csv'.format(day)
    try:
        urllib.request.urlretrieve(url, fname)
        df = pd.read_csv(fname, index_col=None, parse_dates=['Last Update'])
        df['Date'] = day
        df_arr.append(df)
    except:
        continue;
df_table = pd.concat(df_arr, axis=0, ignore_index=True)
#df_table['Date'] = pd.DatetimeIndex(df_table['Date']).normalize()

01-22-2020
01-23-2020
01-24-2020
01-25-2020
01-26-2020
01-27-2020
01-28-2020
01-29-2020
01-30-2020
01-31-2020
02-01-2020
02-02-2020
02-03-2020
02-04-2020
02-05-2020
02-06-2020
02-07-2020
02-08-2020
02-09-2020
02-10-2020
02-11-2020
02-12-2020
02-13-2020
02-14-2020
02-15-2020
02-16-2020
02-17-2020
02-18-2020
02-19-2020
02-20-2020
02-21-2020
02-22-2020
02-23-2020
02-24-2020
02-25-2020
02-26-2020
02-27-2020
02-28-2020
02-29-2020
03-01-2020
03-02-2020
03-03-2020
03-04-2020
03-05-2020
03-06-2020
03-07-2020
03-08-2020
03-09-2020
03-10-2020
03-11-2020
03-12-2020
03-13-2020
03-14-2020
03-15-2020
03-16-2020
03-17-2020

In [3]:
df_table['Active'] = df_table['Confirmed']-df_table['Deaths']-df_table['Recovered']
df_table['Closed'] = df_table['Confirmed']-df_table['Active']
df_table['Country/Region'] = df_table['Country/Region'].replace('Mainland China', 'China')
df_table['Country/Region'] = df_table['Country/Region'].replace('US', 'United States')
df_table['Country/Region'] = df_table['Country/Region'].replace('UK', 'United Kingdom')
df_table['Country/Region'] = df_table['Country/Region'].replace('North Macedonia', 'Macedonia')
df_table['Country/Region'] = df_table['Country/Region'].replace('Bosnia and Herzegovina', 'Bosnia & Herzegovina')
df_table['Country/Region'] = df_table['Country/Region'].replace('South Africa', 'SouthAfrica')
df_table['Country/Region'] = df_table['Country/Region'].replace('Others', 'Ship')
df_table['Country/Region'] = df_table['Country/Region'].replace('Cruise Ship', 'Ship')
df_table['Country/Region'] = df_table['Country/Region'].replace('Iran (Islamic Republic of)', 'Iran')
df_table['Country/Region'] = df_table['Country/Region'].replace('Republic of Korea', 'South Korea')
df_table['Country/Region'] = df_table['Country/Region'].replace('Korea, South', 'South Korea')
df_table['Country/Region'] = df_table['Country/Region'].replace('Hong Kong SAR', 'Hong Kong')
df_table['Country/Region'] = df_table['Country/Region'].replace('Viet Nam', 'Vietnam')
df_table['Country/Region'] = df_table['Country/Region'].replace('Macao SAR', 'Macau')
df_table['Country/Region'] = df_table['Country/Region'].replace('Russian Federation', 'Russia')
df_table['Country/Region'] = df_table['Country/Region'].replace('Republic of Moldova', 'Moldova')
df_table['Country/Region'] = df_table['Country/Region'].replace('Saint Martin', 'St. Martin')
df_table['Country/Region'] = df_table['Country/Region'].replace('Taipei and environs', 'Taiwan')
df_table['Country/Region'] = df_table['Country/Region'].replace('Taiwan*', 'Taiwan')
df_table['Country/Region'] = df_table['Country/Region'].replace('Congo (Kinshasa)', 'Congo')
df_table['Country/Region'] = df_table['Country/Region'].replace('occupied Palestinian territory', 'Palestine')
df_table['Country/Region'] = df_table['Country/Region'].replace('Holy See', 'Vatican City')
df_table['Country/Region'] = df_table['Country/Region'].replace('Czechia', 'Czech Republic')
df_table['Province/State'] = df_table['Province/State'].fillna('NA')

In [4]:
df_table

,Confirmed,Country/Region,Date,Deaths,Last Update,Latitude,Longitude,Province/State,Recovered,Active,Closed
0,1.0,China,01-22-2020,NaN,2020-01-22 17:00:00,NaN,NaN,Anhui,NaN,NaN,NaN
1,14.0,China,01-22-2020,NaN,2020-01-22 17:00:00,NaN,NaN,Beijing,NaN,NaN,NaN
2,6.0,China,01-22-2020,NaN,2020-01-22 17:00:00,NaN,NaN,Chongqing,NaN,NaN,NaN
3,1.0,China,01-22-2020,NaN,2020-01-22 17:00:00,NaN,NaN,Fujian,NaN,NaN,NaN
4,NaN,China,01-22-2020,NaN,2020-01-22 17:00:00,NaN,NaN,Gansu,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
6157,1.0,United Kingdom,03-16-2020,1.0,2020-03-16 14:53:04,19.3133,-81.2546,Cayman Islands,0.0,0.0,1.0
6158,1.0,United Kingdom,03-16-2020,0.0,2020-03-14 16:33:03,36.1408,-5.3536,Gibraltar,1.0,0.0,1.0
6159,0.0,Australia,03-16-2020,0.0,2020-03-14 02:33:04,35.4437,139.6380,From Diamond Princess,0.0,0.0,0.0
6160,0.0,United States,03-16-2020,0.0,2020-03-10 02:33:04,38.4912,-80.9545,West Virginia,0.0,0.0,0.0
6161,0.0,Palestine,03-16-2020,0.0,2020-03-11 20:53:02,31.9522,35.2332,NA,0.0,0.0,0.0

In [5]:
df_table.to_csv('../input/covid_19_master.csv')