In [37]:
import numpy as np
import pandas as pd
import urllib.request
from datetime import date, timedelta
import glob
import warnings
warnings.filterwarnings('ignore')

In [38]:
# download all jhu data
sdate = date(2020, 1, 22)   # start date
edate = date(2020, 3, 14)   # end date
delta = edate - sdate
for i in range(delta.days + 1):
    day = sdate + timedelta(days=i)
    day = day.strftime('%m-%d-%Y')
    print(date)
    url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/' + \
        'csse_covid_19_daily_reports/{:s}.csv'.format(day)
    fname = '../input/jhu/covid-19_daily_{:s}.csv'.format(day)
    urllib.request.urlretrieve(url, fname)

<class 'datetime.date'>
<class 'datetime.date'>
<class 'datetime.date'>
<class 'datetime.date'>
<class 'datetime.date'>
<class 'datetime.date'>
<class 'datetime.date'>
<class 'datetime.date'>
<class 'datetime.date'>
<class 'datetime.date'>
<class 'datetime.date'>
<class 'datetime.date'>
<class 'datetime.date'>
<class 'datetime.date'>
<class 'datetime.date'>
<class 'datetime.date'>
<class 'datetime.date'>
<class 'datetime.date'>
<class 'datetime.date'>
<class 'datetime.date'>
<class 'datetime.date'>
<class 'datetime.date'>
<class 'datetime.date'>
<class 'datetime.date'>
<class 'datetime.date'>
<class 'datetime.date'>
<class 'datetime.date'>
<class 'datetime.date'>
<class 'datetime.date'>
<class 'datetime.date'>
<class 'datetime.date'>
<class 'datetime.date'>
<class 'datetime.date'>
<class 'datetime.date'>
<class 'datetime.date'>
<class 'datetime.date'>
<class 'datetime.date'>
<class 'datetime.date'>
<class 'datetime.date'>
<class 'datetime.date'>
<class 'datetime.date'>
<class 'datetime.date'>
<class 'datetime.date'>
<class 'datetime.date'>
<class 'datetime.date'>
<class 'datetime.date'>
<class 'datetime.date'>
<class 'datetime.date'>
<class 'datetime.date'>
<class 'datetime.date'>
<class 'datetime.date'>
<class 'datetime.date'>
<class 'datetime.date'>

In [45]:
# combine all jhu data into master dataframe
fnames = glob.glob('../input/jhu/*')
df_arr = []
for i, f in enumerate(fnames):
    df = pd.read_csv(f, index_col=None, parse_dates=['Last Update'])
    #df.rename(columns={'Last Update':'Date'}, inplace=True)
    df_arr.append(df)
df_table = pd.concat(df_arr, axis=0, ignore_index=True)

In [46]:
#df_table['Date'] = pd.DatetimeIndex(df_table['Date']).normalize()

In [47]:
df_table['Active'] = df_table['Confirmed']-df_table['Deaths']-df_table['Recovered']
df_table['Closed'] = df_table['Confirmed']-df_table['Active']
df_table['Country/Region'] = df_table['Country/Region'].replace('Mainland China', 'China')
df_table['Country/Region'] = df_table['Country/Region'].replace('US', 'United States')
df_table['Country/Region'] = df_table['Country/Region'].replace('UK', 'United Kingdom')
df_table['Country/Region'] = df_table['Country/Region'].replace('North Macedonia', 'Macedonia')
df_table['Country/Region'] = df_table['Country/Region'].replace('Bosnia and Herzegovina', 'Bosnia & Herzegovina')
df_table['Country/Region'] = df_table['Country/Region'].replace('South Africa', 'SouthAfrica')
df_table['Country/Region'] = df_table['Country/Region'].replace('Others', 'Ship')
df_table['Country/Region'] = df_table['Country/Region'].replace('Cruise Ship', 'Ship')
df_table['Country/Region'] = df_table['Country/Region'].replace('Iran (Islamic Republic of)', 'Iran')
df_table['Country/Region'] = df_table['Country/Region'].replace('Republic of Korea', 'South Korea')
df_table['Country/Region'] = df_table['Country/Region'].replace('Korea, South', 'South Korea')
df_table['Country/Region'] = df_table['Country/Region'].replace('Hong Kong SAR', 'Hong Kong')
df_table['Country/Region'] = df_table['Country/Region'].replace('Viet Nam', 'Vietnam')
df_table['Country/Region'] = df_table['Country/Region'].replace('Macao SAR', 'Macau')
df_table['Country/Region'] = df_table['Country/Region'].replace('Russian Federation', 'Russia')
df_table['Country/Region'] = df_table['Country/Region'].replace('Republic of Moldova', 'Moldova')
df_table['Country/Region'] = df_table['Country/Region'].replace('Saint Martin', 'St. Martin')
df_table['Country/Region'] = df_table['Country/Region'].replace('Taipei and environs', 'Taiwan')
df_table['Country/Region'] = df_table['Country/Region'].replace('Taiwan*', 'Taiwan')
df_table['Country/Region'] = df_table['Country/Region'].replace('Congo (Kinshasa)', 'Congo')
df_table['Country/Region'] = df_table['Country/Region'].replace('occupied Palestinian territory', 'Palestine')
df_table['Country/Region'] = df_table['Country/Region'].replace('Holy See', 'Vatican City')
df_table['Country/Region'] = df_table['Country/Region'].replace('Czechia', 'Czech Republic')
df_table['Province/State'] = df_table['Province/State'].fillna('NA')

In [48]:
df_table

,Confirmed,Country/Region,Deaths,Last Update,Latitude,Longitude,Province/State,Recovered,Active,Closed
0,5806.0,China,204.0,2020-01-31 23:59:00,NaN,NaN,Hubei,141.0,5461.0,345.0
1,538.0,China,NaN,2020-01-31 23:59:00,NaN,NaN,Zhejiang,14.0,NaN,NaN
2,436.0,China,NaN,2020-01-31 23:59:00,NaN,NaN,Guangdong,11.0,NaN,NaN
3,352.0,China,2.0,2020-01-31 23:59:00,NaN,NaN,Henan,3.0,347.0,5.0
4,332.0,China,NaN,2020-01-31 23:59:00,NaN,NaN,Hunan,2.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
5627,1.0,United States,0.0,2020-02-01 19:53:03,NaN,NaN,"Los Angeles, CA",0.0,1.0,0.0
5628,1.0,United States,0.0,2020-02-01 19:53:03,NaN,NaN,"Orange, CA",0.0,1.0,0.0
5629,1.0,United States,0.0,2020-02-01 19:53:03,NaN,NaN,"Santa Clara, CA",0.0,1.0,0.0
5630,1.0,United States,0.0,2020-02-01 19:43:03,NaN,NaN,"Seattle, WA",0.0,1.0,0.0
5631,1.0,United States,0.0,2020-02-01 19:43:03,NaN,NaN,"Tempe, AZ",0.0,1.0,0.0

In [49]:
df_table.to_csv('../input/covid_19_master.csv')