In [1]:
#https://www.kaggle.com/lisphilar/covid-19-data-with-sir-model

In [2]:
import gc
import numpy as np
import pandas as pd
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 20)
import seaborn as sns
import matplotlib.pyplot as plt
cmap = plt.get_cmap('jet_r')
import matplotlib.dates as mdates
import warnings
warnings.filterwarnings('ignore')
from scipy.optimize import curve_fit
import folium
import branca
%matplotlib inline

In [3]:
from data_covid_19 import df_table

In [4]:
df_table

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Active,Closed
0,1,2020-01-22,Anhui,China,1/22/2020 17:00,1,0,0,1,0
1,2,2020-01-22,Beijing,China,1/22/2020 17:00,14,0,0,14,0
2,3,2020-01-22,Chongqing,China,1/22/2020 17:00,6,0,0,6,0
3,4,2020-01-22,Fujian,China,1/22/2020 17:00,1,0,0,1,0
4,5,2020-01-22,Gansu,China,1/22/2020 17:00,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...
4930,4931,2020-03-11,Mississippi,United States,2020-03-10T02:33:04,0,0,0,0,0
4931,4932,2020-03-11,North Dakota,United States,2020-03-10T02:33:04,0,0,0,0,0
4932,4933,2020-03-11,West Virginia,United States,2020-03-10T02:33:04,0,0,0,0,0
4933,4934,2020-03-11,Wyoming,United States,2020-03-10T02:33:04,0,0,0,0,0
4934,4935,2020-03-11,NA,Palestine,2020-03-11T20:53:02,0,0,0,0,0